{% extends "admin/base.html" %}

{% block content %}
    <section class="content-header">
        <h1>zhxfei's web manager</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 个人资料</a></li>
            <li class="active">修改密码</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">修改密码</h3>
                    </div>
                    <form role="form" method="post" action="{{ url_for('admin.pwd') }}">
                        {% block success_message %}
                            {% for foo in get_flashed_messages(category_filter=["succeed"]) %}
                                <div class="callout callout-success">
                                    <h4>{{ foo }}</h4>
                                </div>
                            {% endfor %}
                        {% endblock %}

                        <div class="box-body">
                            <div class="form-group">
                                <label for="input_pwd">{{ form.old_pwd.label }}</label>
                                {{ form.old_pwd }}
                            </div>
                            {% for err in form.old_pwd.errors %}
                                <div class="col-md-12" id="input_user">
                                    <font style="color: red">
                                        {{ err }}
                                    </font>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="input_newpwd">{{ form.new_pwd.label }}</label>
                                {{ form.new_pwd }}
                            </div>
                            {% for err in form.new_pwd.errors %}
                                <div class="col-md-12" id="input_user">
                                    <font style="color: red">
                                        {{ err }}
                                    </font>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="box-footer">
                            {{ form.csrf_token }}
                            {{ form.submit }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}